[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
click = "*"
pick = "*"
pyyaml = "*"
kontext = {path = "."}

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.7"
